* {
  font-family: 'Heebo', sans-serif;
  color: #5e5e5e;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 180px;
}

.navbar {
  background-color: #FFFFFF;
  border-color: #E7E7E7;
}

.navbar-brand {
  position: absolute;
  left: 44%;
  font-size: 25px;
  line-height: 25px;
}

a {
  color: rgb(119, 119, 119);
}

a:hover {
  color: #ffcc66;;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffcc66;;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.product-page {
  font-size: 18px;
  text-transform: uppercase;
}

.category-name, .product-name, .field {
  text-transform: uppercase;
}

.table-data {
  display: inline-block;
  vertical-align: middle;
  float: none;
  text-transform: uppercase;
  }

.table > tbody > tr > td {
  vertical-align: middle;
  text-transform: uppercase;
}

.button {
  width: 154px;
  color: white;
  background-color: #5e5e5e;
  border: solid 1px;
  padding: 10px;
}

.button:hover {
  background-color: white;
  color: #ffcc66;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 600px) {
  .footer img {
    width: 100%;
  }
}
