* {
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}

body {
  padding-top: 50px;
}

.navbar {
  background-color: #FFFFFF;
  border-color: #E7E7E7;
}

.navbar-brand {
  position: absolute;
  left: 44%;
  font-size: 25px;
}

a {
  color: rgb(119, 119, 119);
}

a:hover {
  color: #5e5e5e;;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #5e5e5e;;
  text-decoration: underline;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}
