* {
  font-family: 'Heebo', sans-serif;
  text-transform: uppercase;
}

body {
    padding-top: 65px;
}

.navbar {
  background-color: #FFFFFF;
  border-color: #E7E7E7;
}
.navbar-brand {
    position: absolute;
    left: 44%;
    font-size: 25px;
}

a {
  color: black;
  text-decoration: none;
}

.d-inline-block {
  display: inline-block;
}
